@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #262626;
    --background: #ffffff;
    --primary: #e1b505;
    --secondary: #db4d48;
    --accent: #084e63;
  }
  .dark {
    --text: #d9d9d9;
    --background: #000000;
    --primary: #face1e;
    --secondary: #b72924;
    --accent: #9ce2f7;
  }
}
